*{
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    background-color: #e2e0de;
    font-family: 'poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
li{
    list-style: none;
    cursor: pointer;
}
a{
    text-decoration: none;
}
button{
    background-color: rgb(18,155, 155);
    padding: 4px 10px;
    color: #edf1fd;
    border-radius: 5px;
    font-weight: 600;
    width: fit-content;
}
button :hover{
    background-color: white;
    color: black;
    border: 1px solid black;
}
nav{
    display: flex;
    width: 100%;
    height: 100px;
    background-color: rgb(208, 208, 203);
    align-items: center;
    justify-content: space-around;
    border-radius: 3px;
}
nav .logo {
    font-weight: 300;
    font-size: 30px;
}
nav ul{
    display: flex;
    align-items: center;
    gap: 30px;
    font-weight: 500;
}
nav ul li:hover {
    text-decoration: underline;
    font-weight: 900;

}
.search-field {
    display: flex;
    gap: 35px;
}
input{
    padding: 4px 10px;
}
section{
    align-items: center;
    justify-content: center;
    margin-left: 8%;
}
.hero-section{
    display: flex;
    align-items: center;
}
.hero-left-section h1{
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: 700;
}
.hero-left-section h1 span{
color: rgb(67, 131, 131);
font-weight: 900;
font-size: 2.5 rem;
}
.hero-left-section p{
    font-weight: 500;
}
.hero-left-section p span {
    font-weight: 500;
    font-size: 25px;
    color: rgb(18,155,155);
}
.hero-right-section{
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
    justify-content: center;
    gap: 30px;

}

footer{
    display: flex;
    align-items: center;
    padding: 20px 0;
    justify-content: space-around;
}
footer p{
    font-weight: 300;
    margin-left: 25% ;
    margin-bottom: 0;
}
footer ul{
    display: flex;
    gap: 30px;
    align-items: center;
}
footer ul li a i:hover{

}
